<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ asset("css/style.css") }}">
</head>
<body>
{% block main %}{% endblock %}
</body>
</html>